# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 80dff22d9318d485223d0c0687c615f5db5e893329991781dc7d6dc91139fb0acd1772fd947af66248787b4ce7315edde1701b73102b804be636de1fe18ccfe9

test:
  secret_key_base: 2c8378c1e1ca855aa1ccee152abce20d43128bd0e5e2b248151561b3625a4879a01065d68b4cf9377a045b1e3b013b3fc98d1f9f8c1abf78ca9830ebe1f810e8

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
