<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Shop</h2>
                </div>
            </div>
        </div>
    </div>
</div>
  
<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <%= arranged_tree_as_list(@categories) do |category| %>
                    <%= link_to category.name, category_path(category) %>
                <% end %>
            </div>
            <div class="col-md-9">
                
            </div>
        </div>
    </div>
</div>